h1 {
    color: #004170;
    font-family: "Kanit", sans-serif;
    font-weight: 750;
    font-style: normal;
    font-size: 40px;
  }
  
li {
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: center;
    background-color:#004170;
}

.navbar a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px 35px;

    font-size: 25px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h2 {
    color: #004170;
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

p {
    color: black;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

footer {
    background-color: #004170;
}

pre {
    color: black;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

