

h1 {
    color: goldenrod;
    font-family: "Kanit", sans-serif;
    font-weight: 750;
    font-style: normal;
    font-size: 40px;
  }
  
li {
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: center;
    background-color: goldenrod;
}

.navbar a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px 35px;

    font-size: 25px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}